body {
  padding-top: 3.5rem;
  background-color: #E9ECEF;
  font-family: 'Newsreader', serif;
}

.container ul {
  display: table;
  margin: 0 auto;
}

img {
  width: 600px;
  height: 300px;
}

.card {
  margin: 10px auto;
  float: none;
}